<p><strong>Don't see many Tweets?</strong></p>
<p>That's okay! LinkBird does not go back in your timeline, it only looks forward. This means that over time, LinkBird shows more relevant links. </p>
<br>
<p>On mobile devices, you can pull down on the page to fetch new links.</p>