.env
.env*
.DS_Store
.sass-cache
.byebug_history
vendor
node_modules
tmp
bin
media/private
public/fonts
public/images/*.pxm
public/stylesheets/*.css
public/stylesheets/*.map
public/cache/*
public/*.map
public/*.css
public/*.js
config/symmetric-encryption.yml
scratch/*
*.dump
