# For development, create file `.env.development.local`

DATABASE_URL=postgres://postgres:password@postgres:5432/postgres
REDIS_URL=redis://redis:6379

APP_ENCRYPTION_KEY=XXXXX

RACK_ENV=development
ENV=development

AWS_PROFILE=default
AWS_SECRET_ACCESS_KEY=XXXX
AWS_ACCESS_KEY_ID=XXX

TWITTER_CONSUMER_KEY=XXXX
TWITTER_CONSUMER_SECRET=XXXX

TWITTER_ACCESS_TOKEN=XXXX
TWITTER_ACCESS_TOKEN_SECRET=XXXX

TWITTER_APP_CONSUMER_KEY=XXXX
TWITTER_APP_ACCESS_TOKEN_SECRET=XXXX

TWITTER_APP_ACCESS_TOKEN=XXXX
TWITTER_APP_CONSUMER_SECRET=XXXX

STRIPE_PRICE_KEY=XXXX
STRIPE_PRODUCT_KEY=XXXX
STRIPE_PUBLISHABLE_KEY=XXXX
STRIPE_SECRET_KEY=XXXX

AWS_ECR_URL=XXXX
