<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
      <section class="column has-text-left">
        <h3 style="text-align:center">Page not found</h3>
      </section>
    </div>
  </div>
</div> 