  <h2>What is a subscription?</h2>

<div class="column has-text-left">
  <p><li>Supports feature development of LinkBird.</li></p>
  <p><li>View up to 1000 articles in your timeline instead of 10.</li></p>
  <p><li>More frequent background updates. </li></p>
  <!-- <p><li></li></p> -->
</div>              
