<div class="column has-text-left">
  <h4>What do I get with a subscription?</h4>
  <p><li>View up to 1000 articles in your timeline instead of 25.</li></p>
  <p><li>Automatically updates links every 10 minutes. </li></p>
  <p><li><b>Coming soon</b>: Bookmark your articles.</li></p>
  <!-- Can we limit number of refreshes?-->
</div>              
