<!-- Logged in-->
<div class="col-lg right">
   <h6 class="update-schedule">
     <!-- Updates every 10 minutes -->
     <a href="/">Home</a> 
     | <a href="/weekly">Top Weekly</a> 
     | <a href="/profile">Profile</a> 
     | <a href="/share">Share</a> 
     | <a href="/help">Help</a>
   </h6>
</div>