<!-- Logged in-->
<div class="col-lg right">
   <h6 class="update-schedule">
     <!-- Updates every 10 minutes -->
     <a href="/">Home</a> 
     | <a href="/profile">Account</a> 
     <!-- | <a href="/help">Help</a> -->
     <a style="position: absolute; right: 0px; padding-right: 2%" href="/logout">Sign out</a> 
   </h6>
</div>