<!-- Logged in-->
<div class="col-lg right">
   <h6 class="update-schedule">
     <!-- Updates every 10 minutes -->
     <a href="/">Home</a> 
     | <a href="/profile">Account</a> 
     <!-- | <a href="/help">Help</a> -->
   </h6>
</div>