<!--Not logged in -->
<h1 class="title has-text-black <%= "not-logged-in" if !@user %>" style="font-size: 150%;padding: 0px 50px;">
  Ad-free, chatter-free, newsfeed.<br><br>
</h1>


<p style="padding: 0 50px">Get a reading list from your Twitter feed.</p>
<br>
<!-- Login button -->
<div class="flex-grid">
   <div class="col-sm"></div>
   <div class="col-md">
     <a id="login-button" href='/auth/twitter?use_authorize=true'><img width="300px" src="/images/sign-in-with-twitter.png"></a>
     <br>
     <br>
     <br>
     <br>
   </div>
   <div class="col-sm"></div>
</div>
