<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
      <section class="column has-text-left">
        <div class="column px-0">
          <div style="text-align:center">
            <% if @user.data['stripe_subscription_status'] != 'active' %>
              <%= erb(:features) %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>