<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
        <section class="column is-6 is-offset-3">
          <div class="column">
            <br>
            <br>
            <h4>What do I get if I with subcription?</h4>

            <p>Thi
            <br/>
            <br/>
            <br/>
            <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go home</a></p>
          </div>

        </section>
    </div>
  </div>
</div> 