<% if @tweets.count > 0 %>

  <!-- Render Tweets -->
  <div class="card card-with-no-border">
    <div class="card-content">
      <div class="content">
        <div class="tweetbox has-text-centered">
          <h3 style="margin:0">Bookmarks</h3>
        </div>
      </div>
    </div>
  </div>  

  <%= erb(:alert) %>
  <%= erb(:timeline) %>
  <%= erb(:pagination) %>

<% end %>