<div class="box-tweet flex-grid">
  <div class="title col-lg">
    <h2>LinkBird Newsfeed</h2>
  </div>
</div>

<div class="col-lg right">
  <h6 class="update-schedule"></h6>
  <h1>Your payment was canceled</h1>

  <div class="sr-callout">
    <pre></pre>
  </div>
</div>
