<!--  Heading for private profile -->  
<div id="card-done" class="card card-with-no-border">
   <div class="card-content">
      <div class="content">
         <div class="tweetbox has-text-centered">
            <div style="font-size: 40pt">🎉</div>
           <h3 style="margin:0">You are done! </h3>
         </div>
      </div>
   </div>
</div>  
