<div class="column is-10 is-offset-1 footer">
  <p class="has-text-grey">
    <a href="/about">About</a> &nbsp;路&nbsp;
    <a href="/privacy">Privacy</a> &nbsp;路&nbsp;
    <a href="/terms-of-service">Terms of Service</a> 
    
    <% if @current_user %>
      &nbsp;路&nbsp;
      <a href="/security">Security</a> &nbsp;路&nbsp;
      <a href="/logout">Sign out</a>
    <% end %>
  </p>
  <div class="column is-10 is-offset-1">
    <p class="has-text-grey">
    </p>
  </div>
</div>