<div class="column is-10 is-offset-1 footer">
  <p class="has-text-grey">
    <a href="/about">About</a> &nbsp;·&nbsp;
    <a href="/privacy">Privacy</a> &nbsp;·&nbsp;
    <a href="/terms-of-service">Terms of Service</a> 
    
    <% if current_user %>
      &nbsp;·&nbsp;
      <a href="/security">Security</a> &nbsp;·&nbsp;
      <a href="/logout">Sign out</a>
    <% end %>
  </p>
  <div class="column is-10 is-offset-1">
    <p class="has-text-grey">
      <!-- © Visudo LLC <%= DateTime.now.strftime("%Y") %>. -->
    </p>
    <p>
      <%= ENV.to_h['HEROKU_RELEASE_VERSION'] %>
    </p>
  </div>
</div>