<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
      <section class="column is-offset-4 is-4 has-text-left px-0">
        <div class="column px-0">
          <h3 style="text-align:left">Terms of Service</h3>
          <h5 style="text-align:left">General</h5>              
          <p>By using this service you are agreeing that you will follow local laws reguarding the use of online services.</p>

          <h5 style="text-align:left">Cancelation</h5>
          <p>We reserve the right to cancel accounts at anytime if the account uses Linkbird in any manner that is illegal, distruptive, or abusive.</p>
          
          <h5 style="text-align:left">Subscription</h5>
          <p>If you cancel your subscription, your account will continue to access premium features until the subscription end date.</p>


          <h5 style="text-align:left">Questions</h5>
          <div>For questions, contact privacy@linkbird.app</div>
          <br>
          <div>Effective: Sept 18, 2020</div>
          <br/>
          <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go home</a></p>
        </div>
      </section>
    </div>
  </div>
</div>