<% if @tweets.count > 0 %>
  <div class="card card-with-no-border">
     <div class="card-content">
        <div class="content">
           <div class="tweetbox has-text-centered">
             <h3 style="margin:0">Top Articles</h3>
           </div>
        </div>
     </div>
  </div>  

   <%= erb(:timeline) %>
   <%= erb(:done) %>
   <%= erb(:pagination) %>
<% end %>

