<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/twitter.css">
  <link rel="stylesheet" href="stylesheets/onebox.css">
  <title>Twitter Timeline Links</title>
</head>

<body>
  <div class="wraper-content content">
    <div class="profile">
      <div class="side"> <img class="avatar" src="/images/twitter.svg"> </div>
      <!--side-->
    </div>
    <!--profile-->
    <section class="timeline">
      <div class="box-tweet">
        <h2>Home</h2> </div>
      <!--box-tweet-->
      
      
      
      <% if current_user %>
        <div class="list-tweets">
          <ul class="tweets">
            <% @tweets.each do |tweet| %>
              <li>
                <div class="onebox">
                  <p>
                    <%= tweet %>                    
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div> <a href='/auth/twitter?use_authorize=true'>Log in with Twitter</a> </div>
      <% end %>
      
      
      <!--list-tweets-->
    </section>
  </div>
</body>
</html>