<!-- Title -->
<div class="card card-with-no-border">
   <div class="card-content">
      <div class="content">
        <h2>iOS / iPhone</h2>
        <div class="columns">
          <div class="column"><strong>Step 1</strong><br><img class-"has-shadow" style="width: 170px" src="/images/ios_bookmark_1.png"></div>
          <div class="column"><strong>Step 2</strong><br><img class-"has-shadow" style="width: 170px" src="/images/ios_bookmark_2.png"></div>
          <div class="column"><strong>Step 3</strong><br><img class-"has-shadow" style="width: 170px" src="/images/ios_bookmark_3.png"></div>
        </div>
      </div>
   </div>
</div>  
