<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/bulma.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>LinkBird - Link Newsfeed</title>
  
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="./javascript/app.js" defer></script>  
    <link rel="icon" type="image/png" href="/images/linkbird.png">
        
    <% if @first_download %>
      <meta http-equiv="refresh" content="5">
    <% elsif @next_update_in_minutes == 0 %>
      <meta http-equiv="refresh" content="60">
    <% end %>
  </head>

  <body>


    <section class="is-success is-fullheight section">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="card">
                    <br>
                    <a href="/">
                        <img width="50px" src="/images/linkbird.png">
                        <h1 class="title has-text-black <%= "not-logged-in" if !@user %>">LinkBird Newsfeed</h1>
                    </a>

                    <% if @alert  %>                    
                      <hr class="login-hr">
                      <p class="subtitle has-text-black"><%= @alert %></p>
                      <div class="box">
                    <% end  %>
                    
                    
                    <%= yield %>


                    <!-- <div class="columns"> -->
                    <!-- </div> -->
                </div>
                
                <div class="column is-10 is-offset-1 footer">
                  <!-- <p class="has-text-grey">
                      <a href="../">Sign Up</a> &nbsp;·&nbsp;
                      <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                      <a href="../">Need Help?</a>
                  </p> -->
                  <div class="column is-10 is-offset-1">
                    <p class="has-text-grey">
                      © Visudo LLC <%= DateTime.now.strftime("%Y") %>. All Rights Reserved.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>


  </body>
    
</html>








    