<div class="header column is-12">
  <a href="/">
    <div class="logo-wrapper <%= current_user ? "logged-in" : "not-logged-in" %>">
      <img class="logo" src="/images/linkbird-logo.png">
    </div>
  </a>
</div>
