<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/loading.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
  <link rel="stylesheet" href="/stylesheets/bulma.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>LinkBird</title>

  <!-- Load Stripe.js on your website. -->
  <script src="https://js.stripe.com/v3/" defer></script>
  <script src="./javascript/app.js" defer></script>  
  <link rel="apple-touch-icon" sizes="228x228" href="/images/touch-logo.png"/>
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <% if @first_download %>
    <meta http-equiv="refresh" content="5">
  <% end %>
</head>