<% if  @current_user && !@hide_menu %>

  <nav class="navbar is-paddingless">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">  
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu sidenav">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/bookmarks">
          Bookmarks
        </a> 
        <a class="navbar-item" href="/history">
          History
        </a>
        <a class="navbar-item" href="/settings">
          <%= @current_user.is_subscriber? ? 'Settings' : 'Settings &nbsp; <i class="fas fa-lock" style="font-size: 7pt"></i>' %>
        </a>
        <a class="navbar-item is-hidden-desktop" href="/install">
          Install
        </a>
        <a class="navbar-item is-hidden-desktop" href="/about">
          About
        </a>
      </div>
    </div>
  </nav>

<% end %>
