<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
        <section class="column has-text-left">
          <!-- <div class="column px-0"> -->
            <h3 style="text-align:center">Privacy</h3>

            <br>
            <h5 style="text-align:left">What information is collected?</h5>
            
            <p>The only information collected from users are:</p>
            <ul style="  list-style-type: circle;">
              <li>Twitter IDs and authentication keys</li>
              <li>Tweets contents to display on LinkBird</li>
            </ul>
            <h5 style="text-align:left">Use of cookies, log files and tracking</h5>
            <div>The site purposefully avoids using any form tracking cookies. Cookies are only used for session management. Logs are used only for technical diagnostics and expire after one week.</div>
            <br>
            <h5 style="text-align:left">Contact information</h5>
            <p>For questions, contact privacy@linkbird.app</p>
            <p>Effective: Sept 18, 2020</p>

            <br/>
            <br/>
            <br/>
            <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go home</a></p>
          <!-- </div> -->

        </section>
    </div>
  </div>
</div> 