<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
        <section class="column is-6 is-offset-3">
          <% if @user.data['stripe_subscription_status'] == 'active' && @user.data["stripe_subscription_end_date"] > DateTime.now %>
            <p><strong>Premium Subscription is active</strong></p>
            <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Return to timeline</a></p>

            <form action="/cancel" method="POST" id="cancel-subscription-form">
              <p style="text-align: center;margin: 10px auto;">
                <a id="cancel-subscription-link" style="font-size: 80%; text-decoration: none" href="#">Cancel Subscription</a>
              </p>
              <p>
                (Renewal: <%= DateTime.parse( @user.data["stripe_subscription_end_date"] ).strftime("%B %d, %Y") %>  )
              </p>
              <input type="submit" style="display:none">
            </form>

          <% elsif @user.data['stripe_subscription_status'] == 'inactive' && @user.data["stripe_subscription_end_date"] > Date.now %>
            <p style="text-align: center;margin: 10px auto;">Subscription has been canceled but will remain active until <%= DateTime.parse( @user.data["stripe_subscription_end_date"] ).strftime("%B %d, %Y") %> </p>
          <% else %>
            <button id="activate-premium-plan-btn">Activate Subscription</button>
          <% end %>
          
          <div class="column">
            <br>
            <br>
            <h4>What do I get with a subscription?</h4>

            <ul>
              <li>Archive up to 1000 articles you can view at any time. </li>
              <li>Automatically updates every 10 minutes . </li>
              <li><b>Coming soon</b>: Search timeline for articles.</li>
              <li><b>Coming soon</b>: Bookmark articles.</li>
            </ul>

            <br/>
            <br/>
            <br/>
            <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go home</a></p>
          </div>

        </section>
    </div>
  </div>
</div> 