<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
        <section class="column is-6 is-offset-3">
          <% if @user.data['premium'] %>
            <button>Premium Subscription is Active</button>

            <form action="/cancel" method="POST" id="cancel-subscription-form">
              <p style="text-align: center;margin: 10px auto;">
                <a id="cancel-subscription-link" style="text-decoration: none" href="#">Cancel Subscription</a>
              </p>
              <input type="submit" style="display:none">
            </form>

          <% else %>
            <button id="activate-premium-plan-btn">Activate Premium</button>
          <% end %>
          
          <div class="column">
            <br>
            <br>
            <h4>What is Premium Subscription?</h4>

            <ul style="text-align: left; list-style: inside; margin-left: 15%">
              <li>No limits on how many timeline articles. </li>
              <li><b>Coming soon</b>: Search timeline for articles.</li>
              <li><b>Coming soon</b>: Bookmark articles</li>
            </ul>

            <br/>
            <br/>
            <br/>
            <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go home</a></p>
          </div>

        </section>
    </div>
  </div>
</div>   


<!--


<div class="list-tweets container basic-photo">
    <div id="error-message"></div>
    <div class="flex-grid">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div>

          <% if @user.data['premium'] %>
            <button>Premium Subscription</button>

            <form action="/cancel" method="POST" id="cancel-subscription-form">
              <p style="text-align: center;margin: 10px auto;">
                <a id="cancel-subscription-link" style="text-decoration: none" href="#">Cancel Subscription</a>
              </p>
              <input type="submit" style="display:none">
            </form>

          <% else %>
            <button id="activate-premium-plan-btn">Activate Premium</button>
          <% end %>
          <div class="col-sm">
            <br>
            <br>
            <h3>What is Premium?</h3>

            <ul style="padding: 10px 50px">
              <li>Store an archive of all your links</li>
              <li><b>Coming soon</b>: Search links</li>
              <li><b>Coming soon</b>: Save and delete links</li>
            </ul>
            <br/>
            <br/>
            <br/>
            <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go back</a></p>
          </div>
        </div>

      </div>
      <div class="col-sm"></div>
    </div>

</div>

<script>
  // var urlParams = new URLSearchParams(window.location.search);
  // var sessionId = urlParams.get("session_id")
  // if (sessionId) {
  //   fetch("/checkout-session?sessionId=" + sessionId).then(function(result){
  //     return result.json()
  //   })
  //   .then(function(session){
  //     var sessionJSON = JSON.stringify(session, null, 2);
  //     console.log(sessionJSON);
  //     // document.querySelector("pre").textContent = sessionJSON;
  //   })
  //   .catch(function(err){
  //     console.log('Error when fetching Checkout session', err);
  //   });
  // }
</script> -->