<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
      <section class="column has-text-left static">
        <%= @content %>
        <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Return home</a></p>
      </section>
    </div>
  </div>
</div> 


