<div class="card card-with-no-border">
  <div class="card-content">
    <div class="content">
      <section class="column has-text-left">
        <h3 style="text-align:center">Terms of Service</h3>
        <br>
        <h5 style="text-align:left">General</h5>              
        <p>By using this service, you agree to follow your local laws concerning access to online services. </p>

        <h5 style="text-align:left">Cancelation</h5>
        <p>We reserve the right to cancel accounts that engage in any illegal, disruptive, or abusive behavior..</p>
        
        <h5 style="text-align:left">Subscription</h5>
        <p>If you cancel your subscription, your account will continue to access premium features until the subscription end date.</p>


        <h5 style="text-align:left">Questions</h5>
        <div>For questions, contact privacy@linkbird.app</div>
        <br>
        <div>Effective: Sept 18, 2020</div>
        <br/>
        <p style="text-align: center;margin: 0 auto;"><a style="text-decoration: none" href="/">Go home</a></p>
      </section>
    </div>
  </div>
</div> 