.flex-grid {
  display: flex;
}
.flex-grid .col-sm {
  flex: 1;
}

.flex-grid .col-lg {
  flex: 100;
  padding: 10px;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}




* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  padding: 20px;
}


.cropped {
  width: 100px; /* width of container */
  height: 100px; /* height of container */
  object-fit: cover;
  border-radius: 100%;
}



.onebox, .tweets .iframe, .tweets audio{
  background-color: white;
  width: 100% !important;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;  
}


.onebox .photo{
  
}

.onebox .fav{
  width: 50px;
  height: 50px;
  padding: 10px;
}



.tweets a{
  text-decoration: none;
  color: black;
}

.box-tweet a{
  float: right;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.clear{
  clear: both;
}

.login-button{
  text-align: center;
}


.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.tweets h3{
  color: white;
}