/*
Error: Undefined variable: "$radius".
        on line 1 of ./public/stylesheets/sass/utilities/controls.sass

1: $control-radius: $radius !default
2: $control-radius-small: $radius-small !default
3: 
4: $control-border-width: 1px !default
5: 
6: $control-height: 2.5em !default

Backtrace:
./public/stylesheets/sass/utilities/controls.sass:1
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:478:in `visit_variable'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/rack.rb:51:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/tempfile_reaper.rb:15:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/lint.rb:50:in `_call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/lint.rb:38:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/show_exceptions.rb:23:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/common_logger.rb:38:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.8.1/lib/sinatra/base.rb:231:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/content_length.rb:17:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/configuration.rb:228:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/server.rb:713:in `handle_request'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/server.rb:472:in `process_client'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/server.rb:328:in `block in run'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/thread_pool.rb:134:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$radius\".\A         on line 1 of ./public/stylesheets/sass/utilities/controls.sass\A \A 1: $control-radius: $radius !default\A 2: $control-radius-small: $radius-small !default\A 3: \A 4: $control-border-width: 1px !default\A 5: \A 6: $control-height: 2.5em !default"; }
