/*
Error: Undefined variable: "$scheme-invert".
        on line 197 of ./public/stylesheets/sass/utilities/mixins.sass, in `delete'
        from line 260 of ./public/stylesheets/sass/utilities/mixins.sass

192: 
193: =delete
194:   @extend %unselectable
195:   -moz-appearance: none
196:   -webkit-appearance: none
197:   background-color: bulmaRgba($scheme-invert, 0.2)
198:   border: none
199:   border-radius: $radius-rounded
200:   cursor: pointer
201:   pointer-events: auto
202:   display: inline-block

Backtrace:
./public/stylesheets/sass/utilities/mixins.sass:197:in `delete'
./public/stylesheets/sass/utilities/mixins.sass:260
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:182:in `perform_arg'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `block in _perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each_with_index'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `map'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `_perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `map'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sass-3.7.4/lib/sass/plugin/rack.rb:51:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/tempfile_reaper.rb:15:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/lint.rb:50:in `_call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/lint.rb:38:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/show_exceptions.rb:23:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/common_logger.rb:38:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.8.1/lib/sinatra/base.rb:231:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/rack-2.2.3/lib/rack/content_length.rb:17:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/configuration.rb:228:in `call'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/server.rb:713:in `handle_request'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/server.rb:472:in `process_client'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/server.rb:328:in `block in run'
/Users/eddie/Code/twitter-timeline-links/vendor/bundle/ruby/2.6.0/gems/puma-4.3.5/lib/puma/thread_pool.rb:134:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$scheme-invert\".\A         on line 197 of ./public/stylesheets/sass/utilities/mixins.sass, in `delete'\A         from line 260 of ./public/stylesheets/sass/utilities/mixins.sass\A \A 192: \A 193: =delete\A 194:   @extend %unselectable\A 195:   -moz-appearance: none\A 196:   -webkit-appearance: none\A 197:   background-color: bulmaRgba($scheme-invert, 0.2)\A 198:   border: none\A 199:   border-radius: $radius-rounded\A 200:   cursor: pointer\A 201:   pointer-events: auto\A 202:   display: inline-block"; }
